.body{margin: 0%; padding: 0%;}


.header{
    width: 1600px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 25px 215px 0 25px;
    display: flex;
    align-items: center;
}

.header >h4{
    font-size: 26px;
    color: rgb(24, 129, 158);
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}

.header >ul { 
    list-style-type: none;
    display: flex;
    
}

.header ul>li>a {
    color: #212121;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 14px;
    margin-left: 50px;
    background-color: blue;

}